{% extends "layout.html" %}
{% set active_page = "notes" %}
{% set help_page = ["https://aot-inc.github.io/Looperget/Notes", "노트"] %}

{% block title %} - 노트 편집{% endblock %}

{% block body %}
<!-- 경로: /note_edit -->
<div class="container">
  {% include 'flash_messages.html' %}

  <h4>노트 <a href="{{help_page[0]}}" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>

  <div style="clear: both; padding: 1em 0;"></div>

  <h3>노트 편집</h3>

  <p>태그를 하나 이상 선택하세요. <kbd>Ctrl</kbd> 또는 <kbd>&#8984;</kbd> 키를 누른 채로 여러 개 선택할 수 있습니다.</p>

  <form method="post" action="/note_edit/{{this_note.unique_id}}" enctype="multipart/form-data">
  {{form_note_mod.csrf_token}}
  {{form_note_mod.note_unique_id(value=this_note.unique_id)}}
  <div class="row">
    <div class="col-auto">
      {{form_note_mod.name.label(class_='control-label')}}
      <div>
        {{form_note_mod.name(class_='form-control', value=this_note.name)}}
      </div>
    </div>
    <div class="col-auto">
      {{form_note_mod.date_time.label(class_='control-label')}}
      <div>
        {{form_note_mod.date_time(class_='form-control', value=utc_to_local_time(this_note.date_time))}}
      </div>
    </div>
    <div class="col-auto">
      {{form_note_mod.files.label(class_='control-label')}}
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <span class="btn btn-sm btn-file"><input id="files" name="files" type="file" multiple /></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      {{form_note_mod.note_tags.label(class_='control-label')}}
      <div>
        <select class="form-control btn-sm" id="note_tags" name="note_tags" style="width: 100%;" size="{% if tags|length > 5 %}5{% else %}{{tags|length}}{% endif %}" multiple>
        {% if tags %}
          {% for each_tag in tags -%}
          <option value="{{each_tag.unique_id}}"{% if each_tag.unique_id in this_note.tags.split(',') %} selected{% endif %}>{{each_tag.name}}</option>
          {% endfor -%}
        {% else %}
          <option value="">{{dict_translation['none_available']['title']}}</option>
        {% endif %}
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{form_note_mod.note.label(class_='control-label')}}
      <div>
        {{form_note_mod.note(class_='form-control', rows='6')}}
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-auto">
      {{form_note_mod.note_cancel(class_='btn btn-primary')}}
    </div>
    <td>
      {{form_note_mod.note_del(class_='btn btn-primary', **{'onclick':'return confirm("이 항목을 삭제하시겠습니까?")'})}}
    </td>
    <div class="col-auto">
      {{form_note_mod.note_save(class_='btn btn-primary')}}
    </div>
  </div>

  </form>

  <div style="clear: both; padding: 0.5em 0;"></div>

{% if this_note.files %}

   <div class="table-responsive">
    <table class="table">
      <tr>
        <td>첨부 파일</td>
        <td></td>
      </tr>

    {% for each_file in this_note.files.split(',') %}

    <form method="post" action="/note_edit/{{this_note.unique_id}}">
    {{form_note_mod.csrf_token}}
    {{form_note_mod.note_unique_id(value=this_note.unique_id)}}
    {{form_note_mod.file_selected(value=each_file)}}

      <tr>
        <td><pre><a href="/note_attachment/{{each_file}}">{{each_file[37:]}}</a></pre></td>
        <td>
          {{form_note_mod.rename_name(class_='form-control', value=each_file[37:])}}
        </td>
        <td>
          {{form_note_mod.file_rename(class_='btn btn-primary btn-block')}}
        </td>
        <td>
          {{form_note_mod.file_del(class_='btn btn-primary btn-block', **{'onclick':'return confirm("이 항목을 삭제하시겠습니까?")'})}}
      </tr>

    </form>

    {% endfor -%}

    </table>
   </div>

{% endif %}

  <div style="clear: both; padding: 0.5em 0;"></div>

</div>

{% endblock %}