{% extends "layout-settings.html" %}
{% set active_page = "settings" %}
{% set active_settings = "alerts" %}
{% set help_page = ["https://aot-inc.github.io/Looperget/Configuration-Settings/#alert-settings", dict_translation['settings']['title'] + ': ' + dict_translation['alert']['title']] %}

{% block title %} - {{dict_translation['settings']['title'] + ': ' + dict_translation['alert']['title']}}{% endblock %}

{% block settings %}
  <!-- Route: /settings/alerts -->
  <div class="container">
    <h3 style="text-align: right; padding-bottom: 1.3em;">
      <a href="https://aot-inc.github.io/Looperget/Configuration-Settings/#alert-settings" target="_blank">
        <span style="font-size: 16px" class="fas fa-question-circle"></span>
      </a> {{_('알림 설정')}}
    </h3>

    <form class="form-horizontal" method="post" action="/settings/alerts">
      <input type="hidden" name="form-name" value="EmailAlert">
      {{form_email_alert.hidden_tag()}}
      <div class="form-group">
        {{_('포트가 지정되지 않으면, SSL(465), TLS(587) 또는 비암호화(25)의 기본 포트가 사용됩니다. 비표준 포트가 필요한 경우, 포트 필드에 입력하십시오.')}}
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_host.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_host(class_='form-control', value=smtp.host)}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_port.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_port(class_='form-control', type="number", value=smtp.port, **{'title': _('프로토콜 기본 포트를 사용하려면 공백으로 두십시오')})}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_protocol.label(class_='control-label')}}
        <div>
          <select class="form-control form-tooltip form-dropdown" id="smtp_protocol" name="smtp_protocol" data-placement="top" title="{{_("이메일 전송에 사용할 프로토콜")}}">
            <option value="ssl"{%- if smtp.protocol == 'ssl' %} selected{%- endif -%}>SSL</option>
            <option value="tls"{%- if smtp.protocol == 'tls' %} selected{%- endif -%}>TLS</option>
            <option value="unencrypted"{%- if smtp.protocol == 'unencrypted' %} selected{%- endif -%}>비암호화</option>
            <option value="unencrypted_no_login"{%- if smtp.protocol == 'unencrypted' %} selected{%- endif -%}>비암호화 (로그인 없이)</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_user.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_user(class_='form-control', value=smtp.user, **{'title': _('일반적으로 이메일 ID 또는 주소 전체입니다')})}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_password.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_password(class_='form-control', **{'title': _('변경을 원할 때만 비밀번호를 입력하십시오')})}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_from_email.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_from_email(class_='form-control', value=smtp.email_from)}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_hourly_max.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_hourly_max(class_='form-control', type="number", value=smtp.hourly_max, **{'title': _('한 시간 동안 전송할 수 있는 최대 알림 수')})}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          {{form_email_alert.save(class_='btn btn-primary')}}
        </div>
      </div>

      <div class="row" style="padding: 1.5em 0 1em 0">
        <div class="col">
          {{form_email_alert.send_test_to_email(class_='form-control')}}
        </div>
        <div class="col">
          {{form_email_alert.send_test(class_='btn btn-primary')}}
        </div>
      </div>

    </form>

  </div>

{% endblock %}