<div class="row small-gutters" style="padding: 0.7em">
  <div class="col-sm-6 col-md-4 " style="padding-bottom: 1.5em">
    {{form_add_method.duration.label(class_='control-label')}}
    <div>
      {{form_add_method.duration(class_='form-control')}}
    </div>
  </div>
  <div class="col-12">
    {{_('특정 지속 시간에 따라 일정 기간 동안의 설정값을 정의합니다.')}}
    <br>{{_('여기서 지속 시간은 이전 지속 시간 이후의 시간량으로 정의됩니다. 만약 이것이 처음 추가된 지속 시간이라면, 이는 방법의 시작을 의미합니다. 만약 처음이 아니라면, 기존 방법에 추가된 마지막 지속 시간 이후에 실행됩니다.')}}
  </div>
</div>

<div class="row small-gutters" style="padding: 0.7em">
  <div class="col-auto">
    {{form_add_method.setpoint_start.label(class_='control-label')}}
    <div>
      {{form_add_method.setpoint_start(class_='form-control', value=last_setpoint)}}
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    {{form_add_method.setpoint_end.label(class_='control-label')}}
    <div>
      {{form_add_method.setpoint_end(class_='form-control')}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-auto">
    <label class='control-label'></label>
    <div>
      {{form_add_method.save(class_='form-control btn btn-primary btn-sm')}}
    </div>
  </div>
</div>
<div class="row align-items-end small-gutters" style="padding: 0.7em">
  <div style="padding: 1em">
    {{_('방법이 끝에 도달했을 때 재시작하도록 지시하려면 다음 옵션을 사용하십시오.')}}
    {{_('방법이 반복되기를 원하지 않는 경우, 이 옵션을 사용하지 마십시오.')}}
    {{_('방법이 종료된 후 종료할 지속 시간(초)을 입력할 수 있으며, 그렇지 않으면 비워두어 무한 반복되도록 합니다.')}}
  </div>
  <div class="col-auto">
    {{form_add_method.duration_end.label(class_='control-label')}}
    <div>
      {{form_add_method.duration_end(class_='form-control')}}
    </div>
  </div>
  <div class="col-auto">
    {{form_add_method.restart(class_='btn btn-primary', **{'onclick':'return confirm("이 옵션을 사용하면 방법이 종료된 후 재시작되도록 지시합니다. 이 옵션을 사용하면 더 이상 지속 시간을 추가할 수 없습니다. 이 방법의 끝에 재시작 옵션을 추가하시겠습니까?")'})}}
  </div>
</div>