{% extends "layout.html" %}
{% set active_page = "camera" %}
{% set help_page = ["https://aot-inc.github.io/Looperget/Camera/", _('Cameras')] %}

{% block title %} - {{_('Camera')}}{% endblock %}

{%  block head %}
<link href="/static/css/toastr.min.css" rel="stylesheet"/>
<script src="/static/js/toastr.min.js"></script>

<script>
  $(document).ready(function () {
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-left",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "15000",
      "extendedTimeOut": "10000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }

    $('form').submit(function (e) {
      let submitter_btn = $(e.originalEvent.submitter);

      if (submitter_btn.attr("name") === 'camera_mod' ||
          submitter_btn.attr("name") === 'camera_del' ||
          submitter_btn.attr("name") === 'timelapse_generate') {
            {% if not misc.hide_alert_info %}toastr['info']('명령이 전송되었습니다. 잠시 기다려 주세요.');{% endif %}
        $.ajax({
          type: "POST",
          url: '/camera_submit',
          data: $(this).serialize()
              + '&'
              + submitter_btn.attr("name")
              + '='
              + submitter_btn.attr("value"),
          success: function (data) {
            if (data.data.messages.error.length === 0) {
              if (submitter_btn.attr("name") === 'camera_del' && 'camera_id' in data.data) {
                  $('#camera_' + data.data.camera_id).hide('slow');
                  $('#spacer_' + data.data.camera_id).hide('slow');
              }
              {% if not misc.hide_alert_warning %}
              if ('warning' in data.data.messages && data.data.messages.warning.length !== 0) {
                toastr['warning']('경고: ' + data.data.messages.warning.join(", "));
              }
              {% endif %}
              {% if not misc.hide_alert_info %}
              if ('info' in data.data.messages && data.data.messages.info.length !== 0) {
                toastr['info']('정보: ' + data.data.messages.info.join(", "));
              }
              {% endif %}
              {% if not misc.hide_alert_success %}
              if ('success' in data.data.messages && data.data.messages.success.length !== 0) {
                toastr['success']('성공: ' + data.data.messages.success.join(", "));
              }
              {% endif %}
            } else {
              toastr['error']('오류: ' + data.data.messages.error.join(", "));
            }
          },
          error: function() {
            toastr['error']('오류: 서버와 통신 할 수 없습니다.');
          }
        });
        e.preventDefault();
      }
    });

    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{form_camera.csrf_token._value()}}")
        }
      }
    })
  });
</script>
{% endblock %}

{% block body %}
<!-- Route: /camera -->
<div class="container">
  {% include 'flash_messages.html' %}

  <div class="container" style="width: 95%; padding: 1em">
    <form method="post" action="/camera">
      <div class="row align-items-end small-gutters">
        {{form_camera.csrf_token}}
        <div class="col-auto">
          {{form_camera.name(class_='form-control', value='Camera Name')}}
        </div>
        <div class="col-auto">
          <select class="form-control form-tooltip form-dropdown" id="library" name="library" title="" data-original-title="Select the library used to communicate">
            {%- for each_library in camera_info -%}
              <option value="{{each_library}}">{{camera_info[each_library]['name']}}</option>
            {%- endfor -%}
          </select>
        </div>
        <div class="col-auto">
          {{form_camera.camera_add(class_='btn btn-primary btn-block')}}
        </div>
      </div>
    </form>
  </div>

  {% for each_camera in camera %}

  <div class="container" id="camera_{{each_camera.unique_id}}" style="width: 95%; border: 2px solid #ddd; border-radius: 5px;">
    <form class="form-submit" method="post" action="/camera">
    {{form_camera.csrf_token}}
    {{form_camera.camera_id(value=each_camera.unique_id)}}
    <div class="row small-gutters" style="border-bottom: 2px solid #ddd; padding: 0.1em 0;">
      <div class="col-2 col-sm-1 text-center icon-fh">
      <a data-toggle="collapse" href="#collapseContainer-camera-{{each_camera.unique_id}}" aria-expanded="false" aria-controls="collapseContainer-camera-{{each_camera.unique_id}}">
        <span style="font-size: 3.6em" class="collapseContainer-camera-{{each_camera.unique_id}} fa fa-plus-square"></span>
      </a>
    </div>
      <div class="col-12 col-sm-5 col-lg-3">
        <input class="form-control" disabled="" title="UUID: {{each_camera.unique_id}}" value="[{{'%02d' % each_camera.id}}] ({{camera_info[each_camera.library]['name']}}) {{each_camera.name}}" type="text">
      </div>
      <div class="col-12 col-sm-3 col-lg-2">
        {{form_camera.capture_still(class_='form-control btn btn-primary')}}
      </div>

      {% if camera_info[each_camera.library]['capable_stream'] and
            not each_camera.timelapse_started %}
        <div class="col-12 col-sm-3 col-lg-2">
          {% if each_camera.stream_started -%}
            {{form_camera.stop_stream(class_='form-control btn btn-primary')}}
          {% else %}
            {{form_camera.start_stream(class_='form-control btn btn-primary')}}
          {%- endif %}
        </div>
      {%- endif %}

      {% if not each_camera.stream_started -%}
        {% if not each_camera.timelapse_started %}
          <div class="col-12 col-sm-4 col-lg-2">
            <a data-toggle="collapse" href="#collapseContainerTimelapse-{{each_camera.unique_id}}" aria-expanded="false" aria-controls="collapseContainerTimelapse-{{each_camera.unique_id}}" class="form-control btn btn-primary" role="button">{{_('Timelapse')}}</a>
          </div>
        {% else %}
          {% if each_camera.timelapse_paused %}
            <div class="col-12 col-sm-4 col-lg-2">
              {{form_camera.resume_timelapse(class_='form-control btn btn-primary')}}
            </div>
          {% else %}
            <div class="col-12 col-sm-4 col-lg-2">
              {{form_camera.pause_timelapse(class_='form-control btn btn-primary')}}
            </div>
            <div class="col-12 col-sm-4 col-lg-2">
              {{form_camera.stop_timelapse(class_='form-control btn btn-primary')}}
            </div>
          {% endif %}
        {% endif %}
      {%- endif %}

    </div>

    <div class="collapse" id="collapseContainerTimelapse-{{each_camera.unique_id}}" style="padding: 0.5em 0 0.5em 0.2em">
      <div class="row align-items-end small-gutters">
        <div class="col-12">
          Time-lapse parameters:
        </div>
        <div class="col-auto">
          {{form_camera.timelapse_interval.label(class_='control-label')}}
          <div>
            {{form_camera.timelapse_interval(class_='form-control', **{'title':_('사진이 촬영될 간격')})}}
          </div>
        </div>
        <div class="col-auto">
          {{form_camera.timelapse_runtime_sec.label(class_='control-label')}}
          <div>
            {{form_camera.timelapse_runtime_sec(class_='form-control', **{'title':_('촬영을 중지하기 전까지 실행할 시간. 0으로 설정하면 계속 실행됩니다.')})}}
          </div>
        </div>
        <div class="col-auto">
          {{form_camera.start_timelapse(class_='form-control btn btn-primary')}}
        </div>
      </div>
    </div>

    <div class="collapse" id="collapseContainer-camera-{{each_camera.unique_id}}">
      <div class="row small-gutters" style="padding: 0.3em 0.2em 0.3em 0">
        <div class="col-auto">
          {{form_camera.camera_mod(class_='btn btn-primary btn-block')}}
        </div>
        <div class="col-auto">
          {{form_camera.camera_del(class_='btn btn-primary btn-block', **{'onclick':'return confirm("이 카메라를 삭제하시겠습니까?")'})}}
        </div>
      </div>

      <div class="row small-gutters" style="padding-bottom: 0.5em">

      {% if each_camera.library == 'picamera' %}
        {% if not pi_camera_enabled %}
        <div class="col-12" style="color: red">
          {{_("Raspberry Pi 카메라 지원이 활성화되지 않은 것 같습니다. Raspberry Pi 설정에서 활성화하거나 'sudo raspi-config' 명령을 사용하여 활성화하세요.'")}}
        </div>
        {% endif %}
      {% elif each_camera.library == 'fswebcam' %}
        <div class="col-12" style="color: red">
          {{_("사용하는 카메라에 따라 다양한 옵션이 제공됩니다.")}} Execute 'fswebcam --device /dev/video0 --list-controls' 명령을 실행하면 '사용자 정의 옵션'에서 사용할 수 있는 옵션을 확인할 수 있습니다.
        </div>
      {% elif each_camera.library == 'libcamera' %}
        <div class="col-12" style="color: red">
          {{_("사용하는 카메라에 따라 다양한 옵션이 제공됩니다.")}} 'libcamera-hello' 명령을 실행하면 카메라에 대한 정보를 확인할 수 있습니다.
        </div>
      {% elif each_camera.library == 'raspistill' %}
        <div class="col-12" style="color: red">
          {{_("사용하는 카메라에 따라 다양한 옵션이 제공됩니다.")}} 'raspistill --help' 명령을 실행하면 카메라에 대한 정보를 확인할 수 있습니다.
        </div>
      {% elif each_camera.library == 'opencv' %}
        <div class="col-12" style="color: red">
          {{_("사용하는 카메라에 따라 다양한 옵션이 제공됩니다.")}}
        </div>
      {% endif %}

        <div class="col-12 col-sm-3">
          {{form_camera.name.label(class_='control-label')}}
          <div>
            {{form_camera.name(class_='form-control', value=each_camera.name, **{'title':_('카메라 이름')})}}
          </div>
        </div>
        <div class="col-auto">
          {{form_camera.cmd_pre_camera.label(class_='control-label')}}
          <div>
            {{form_camera.cmd_pre_camera(class_='form-control', value=each_camera.cmd_pre_camera, **{'title':_('이미지 촬영 전에 실행할 Linux 셸 명령어')})}}
           </div>
        </div>
        <div class="col-auto">
          {{form_camera.cmd_post_camera.label(class_='control-label')}}
          <div>
            {{form_camera.cmd_post_camera(class_='form-control', value=each_camera.cmd_post_camera, **{'title':_('이미지 촬영 후에 실행할 Linux 셸 명령어')})}}
           </div>
        </div>
        <div class="col-auto">
          {{form_camera.output_id.label(class_='control-label')}}
          <div>
            <select class="form-control form-tooltip form-dropdown" id="output_id" name="output_id" title="" data-original-title="카메라가 이미지를 촬영하거나 스트리밍할 때 활성화할 출력을 선택하세요.">
              {%  if not choices_output_channels %}
                <option value="">No Outputs Available</option>
              {% else %}
                <option value="">Disabled</option>
              {% endif %}
              {%- for each_output in choices_output_channels if 'on_off' in each_output['types'] -%}
                <option value="{{each_output['value']}}"{% if each_camera.output_id == each_output['value'] %} selected{% endif %}>{{each_output['item']}}</option>
              {%- endfor -%}
            </select>
          </div>
        </div>
        <div class="col-auto">
          {{form_camera.output_duration.label(class_='control-label')}}
          <div>
            {{form_camera.output_duration(class_='form-control', value=each_camera.output_duration, **{'title':_('정지 이미지를 촬영하기 전에 출력을 유지할 시간. 예를 들어, 켜지는 데 몇 초 걸리는 형광등에 유용합니다.')})}}
           </div>
        </div>
        <div class="col-auto">
          {{form_camera.path_still.label(class_='control-label')}}
          <div>
            {{form_camera.path_still(class_='form-control', value=each_camera.path_still, **{'title':_('이미지 파일을 저장할 경로. 기본 위치를 사용하려면 비워 두세요.')})}}
           </div>
        </div>
        <div class="col-auto">
          {{form_camera.path_timelapse.label(class_='control-label')}}
          <div>
            {{form_camera.path_timelapse(class_='form-control', value=each_camera.path_timelapse, **{'title':_('타임랩스 이미지 파일을 저장할 경로. 기본 위치를 사용하려면 비워 두세요.')})}}
           </div>
        </div>
      {% if camera_info[each_camera.library]['capable_stream'] %}
        <div class="col-auto">
          {{form_camera.path_video.label(class_='control-label')}}
          <div>
            {{form_camera.path_video(class_='form-control', value=each_camera.path_video, **{'title':_('비디오 파일을 저장할 경로. 기본 위치를 사용하려면 비워 두세요.')})}}
           </div>
        </div>
      {% endif %}
        <div class="col-auto">
          {{form_camera.hflip.label(class_='control-label')}}
          <div class="input-group-text">
            <input id="hflip" name="hflip" type="checkbox" value="y"{% if each_camera.hflip %} checked{% endif %}>
          </div>
        </div>
        <div class="col-auto">
          {{form_camera.vflip.label(class_='control-label')}}
          <div class="input-group-text">
            <input id="vflip" name="vflip" type="checkbox" value="y"{% if each_camera.vflip %} checked{% endif %}>
          </div>
        </div>
        <div class="col-auto">
          {{form_camera.hide_still.label(class_='control-label')}}
          <div class="input-group-text">
            <input id="hide_still" name="hide_still" type="checkbox" value="y"{% if each_camera.hide_still %} checked{% endif %}>
          </div>
        </div>
        <div class="col-auto">
          {{form_camera.hide_timelapse.label(class_='control-label')}}
          <div class="input-group-text">
            <input id="hide_timelapse" name="hide_timelapse" type="checkbox" value="y"{% if each_camera.hide_timelapse %} checked{% endif %}>
          </div>
        </div>
      {% set template_file = 'pages/camera_options/'+each_camera.library+'.html' %}
      {% if template_exists(template_file) %}
        {% include template_file %}
      {% else %}
        <div class="col-auto">
          Error: Template {{template_file}} doesn't exist.
        </div>
      {% endif %}
      </div>
    </div>

    <div class="row small-gutters">

    {%- if camera_info[each_camera.library]['capable_stream'] and
           each_camera.stream_started -%}
      <div>
        {{_('Video Stream')}}:
        <br/><img style="max-width: 100%" src="/video_feed/{{each_camera.unique_id}}">
      </div>
    {%- endif -%}

    {% if each_camera.timelapse_started and not each_camera.hide_timelapse %}
      <div class="col-12">
        {{_('타임랩스 설정')}}:
        <br>타임랩스 상태: {% if each_camera.timelapse_paused %}일시 정지됨{% else %}실행 중{% endif %}
        <br/>시작 시간: {{epoch_to_time_string(each_camera.timelapse_start_time)}}
        <br/>종료 시간: {{epoch_to_time_string(each_camera.timelapse_end_time)}}
        <br/>촬영 간격: {{each_camera.timelapse_interval}} 초
        <br/>다음 촬영 시간: {{epoch_to_time_string(each_camera.timelapse_next_capture)}}
        <br/>다음 촬영 번호: {{each_camera.timelapse_capture_number}}
      </div>
    {% endif %}

    {% if latest_img_tl[each_camera.unique_id] and not each_camera.hide_timelapse %}

      <div class="col-12 col-sm-4 col-lg-2">
        <a data-toggle="collapse" href="#collapseContainerTimelapseVideo-{{each_camera.unique_id}}" aria-expanded="false" aria-controls="collapseContainerTimelapse-{{each_camera.unique_id}}" class="form-control btn btn-primary" role="button">{{_('생성')}}</a>
      </div>
      <div class="collapse" id="collapseContainerTimelapseVideo-{{each_camera.unique_id}}" style="padding: 0.5em">
        <div class="row align-items-end small-gutters">
          <div class="col-12">
            타임랩스 영상 생성 옵션:
          </div>
          <div class="col-auto">
            {{form_camera.timelapse_image_set.label(class_='control-label')}}
            <div>
              <select class="form-control form-tooltip form-dropdown" id="timelapse_image_set" name="timelapse_image_set" title="" data-original-title="비디오로 변환할 타임랩스 이미지 세트를 선택하세요 (이름은 타임랩스 시작 시간 기준)">
              {% for each_set in time_lapse_imgs[each_camera.unique_id] %}
                <option value="{{each_set}}">{{each_set}}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-auto">
            {{form_camera.timelapse_codec.label(class_='control-label')}}
            <div>
              <select class="form-control form-tooltip form-dropdown" id="timelapse_codec" name="timelapse_codec" title="" data-original-title="비디오를 인코딩할 코덱을 선택하세요">
                <option value="mpeg4">mpeg4</option>
              </select>
            </div>
          </div>
          <div class="col-auto">
            {{form_camera.timelapse_fps.label(class_='control-label')}}
            <div>
              {{form_camera.timelapse_fps(class_='form-control', value=24)}}
            </div>
          </div>
          <div class="col-auto">
            {{form_camera.timelapse_generate(class_='form-control btn btn-primary')}}
          </div>
        </div>
      </div>

      <div class="container-timelapse-{{each_camera.unique_id}}">
        {{_('최근 타임랩스')}}: {{latest_img_tl_ts[each_camera.unique_id]}} ({{latest_img_tl_size[each_camera.unique_id]}})
        <br/><a href="/camera/{{each_camera.unique_id}}/timelapse/{{latest_img_tl[each_camera.unique_id]}}" target="_blank"><img style="max-width: 100%" src="/camera/{{each_camera.unique_id}}/timelapse/{{latest_img_tl[each_camera.unique_id]}}"></a>
      </div>
    {% endif %}

    {% if latest_img_still[each_camera.unique_id] and not each_camera.hide_still %}
      <div class="container-still-{{each_camera.unique_id}}">
        {{_('최근 사진')}}: {{latest_img_still_ts[each_camera.unique_id]}} ({{latest_img_still_size[each_camera.unique_id]}})
        <br/><a href="/camera/{{each_camera.unique_id}}/still/{{latest_img_still[each_camera.unique_id]}}" target="_blank"><img style="max-width: 100%" src="/camera/{{each_camera.unique_id}}/still/{{latest_img_still[each_camera.unique_id]}}"></a>
      </div>
    {% endif %}

    </div>

    </form>

  </div>

  <div id="spacer_{{each_camera.unique_id}}" style="clear: both; padding: 1em 0;"></div>

  {% endfor %}

</div>

<script>
  $('.collapse').on('show.bs.collapse', function(){
    $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
  }).on('hide.bs.collapse', function(){
    $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
  });
</script>

{% endblock %}
