{% extends "layout.html" %}
{% set active_page = "backup" %}
{% set help_page = ["https://aot-inc.github.io/Looperget/Upgrade-Backup-Restore/#backup-restore", _('Backup Restore')] %}

{% block title %} - {{_('Backup Restore')}}{% endblock %}

{% block body %}
  <!-- 경로: /admin/backup -->
  <div class="container"> 
    {% include 'flash_messages.html' %}

    <h4>{{_('백업 및 복원')}} <a href="{{help_page[0]}}" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>

    <p>{{_('백업을 생성하여 Looperget 설정을 보존하거나 나중에 복원할 수 있습니다. 카메라 이미지는 백업되지 않습니다. 측정 데이터를 저장하려면 내보내기/가져오기 페이지로 이동하세요.')}}</p>

    <form method="post" action="/admin/backup">
    <div class="row" style="padding-bottom: 1.5em">
      <div class="col-12 col-sm-3 col-md-2 small-gutters">
        {{form_backup.backup(class_='btn btn-primary', value='백업 만들기')}}
      </div>
    </div>
    </form>

    {% if not backup_dirs %}
      <div>
        백업이 없습니다.
      </div>
    {% else %}
      {%- for each_backup in backup_dirs -%}
        <form method="post" action="/admin/backup">
        {{form_backup.selected_dir(class_='form-control', value=each_backup[0][14:])}}
        {{form_backup.full_path(class_='form-control', value=full_paths[loop.index0])}}

        <div class="row small-gutters" style="padding: 0.3em">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="font-family: 'Courier New', monospace;">
            {% set split_version = each_backup[0].split('-') %}
            {{each_backup[0][14:33]}}<br><a href="https://github.com/aot-inc/Looperget/releases/tag/v{{each_backup[0][34:]}}" target="_blank">v{{each_backup[0][34:]}}</a>, {{"%.1f MB"|format(each_backup[1])}}
          </div>
          <div class="col-6 col-sm-3 small-gutters">
            {{form_backup.download(class_='btn btn-primary btn-block', value='백업 다운로드')}}
          </div>
          <div class="col-6 col-sm-3 small-gutters">
            {{form_backup.restore(class_='btn btn-primary btn-block', value='백업 복원')}}
          </div>
          <div class="col-6 col-sm-3 small-gutters">
            {{form_backup.delete(class_='btn btn-primary btn-block', value='백업 삭제', **{'onclick':'return confirm("정말 삭제하시겠습니까?")'})}}
          </div>
        </div>

        </form>
      {%- endfor -%}

    {% endif %}
  </div>

{% endblock %}