<div class="modal fade" id="modal_config_dependency_install" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content" style="padding: 1em">
        <div class="modal-header">
          <h5 class="modal-title">Install Dependencies for <span class="dependencies_device_name"></span></h5>
        </div>
        <div id="container_confirm_install" >
          <p>다음 장치를 추가하는 동안 충족되지 않은 구성요소가 발견되었습니다: <span class="dependencies_device_name"></span> (<span class="dependencies_device"></span>)</p>
          <p>설치되지 않은 구성요소: <span class="dependencies_unmet"></span></p>
          <div id="dependencies_message"></div>
          
          <p>이 구성요소을 설치하려면 아래의 "설치" 버튼을 클릭하고, 설치가 완료될 때까지 기다린 후 장치를 다시 추가하십시오. 설치가 완료된 후, 새로 설치된 모듈을 감지할 수 있도록 프론트엔드와 백엔드가 자동으로 다시 시작됩니다.</p>

          <form id="form_dependency_install" method="post">
            <input type="hidden" id="dependency_unmet" name="dependency_unmet" value="">
            <div class="row small-gutters" style="padding-left: 0.5em">
              <div class="col-auto">
                <button type="button" class="form-control btn btn-primary btn-sm btn-block" data-dismiss="modal">{{_('Close')}}</button>
              </div>
              <div class="col-auto">
                <input class="form-control btn btn-primary btn-sm btn-block" type="submit" name="install" value="{{_('Install')}}">
              </div>
            </div>
          </form>
        </div>

        <div id="container_install" style="display: none;">
          <p>다음 구성요소에 대한 설치가 시작되었습니다: <span class="dependencies_unmet"></span></p>

          <p>아래의 구성요소 설치 로그는 5초마다 새로고침됩니다. 모든 구성요소가 설치되고 프론트엔드 및 백엔드가 다시 시작될 때까지 기다린 후, 관련 장치를 다시 추가하십시오. 설치 과정이 완료되면 로그의 마지막에 "#### 구성요소 설치 완료" 메시지가 나타납니다.</p>
          <p>설치 과정에 문제가 발생하여 설치 상태를 재설정해야 하는 경우, /opt/Looperget/.dependency 파일을 삭제하면 구성요소 설치 함수가 복원됩니다.</p>

          <div class="row small-gutters" style="padding: 0.5em">
            <div class="col-auto">
              <button type="button" class="form-control btn btn-primary btn-sm btn-block" data-dismiss="modal">{{_('Close')}}</button>
            </div>
          </div>

          <pre style="overflow:auto; resize: vertical; height:400px" id="dependency_status"></pre>
        </div>

    </div>
  </div>
</div>

<script>
  let prev_string = '';
  function check_dependency_status() {
    const url = '/admin/dependency_status';
    $.ajax(url, {
      success: function(new_string, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          if (new_string !== prev_string) {
            prev_string = new_string;
            document.getElementById("dependency_status").innerHTML = new_string;
            let objDiv = document.getElementById("dependency_status");
            objDiv.scrollTop = objDiv.scrollHeight;
          }
        }
        else {
          document.getElementById("dependency_status").innerHTML = "Attempting to read the dependency log. Please wait...";
        }
      },
      cache: false
    });
  }

  function popup_response(data) {
    {% if not misc.hide_alert_warning %}
    if ('warning' in data.data.messages && data.data.messages.warning.length !== 0) {
      toastr['warning']('Warning: ' + data.data.messages.warning.join(", "));
    }
    {% endif %}
    {% if not misc.hide_alert_info %}
    if ('info' in data.data.messages && data.data.messages.info.length !== 0) {
      toastr['info']('Info: ' + data.data.messages.info.join(", "));
    }
    {% endif %}
    {% if not misc.hide_alert_success %}
    if ('success' in data.data.messages && data.data.messages.success.length !== 0) {
      toastr['success']('Success: ' + data.data.messages.success.join(", "));
    }
    {% endif %}
  }

  $("#form_dependency_install").submit(function(e) {
    e.preventDefault();
    {% if not misc.hide_alert_info %}toastr['info']('Command sent. Please wait...');{% endif %}
    $.ajax({
      type: "POST",
      url: '/admin/dependency_install/' + $('#dependency_unmet').val(),
      data: $(this).serialize(),
      success: function (data) {
        document.getElementById('container_confirm_install').style.display = "none";
        document.getElementById('container_install').style.display = "";
        popup_response(data);
        check_dependency_status();
        setInterval(function() {
          check_dependency_status();
        }, 5000);
      },
      error: function() {
        toastr['error']('Error: Could not communicate with server');
      }
    });
  });

  $("#modal_config_dependency_install").on("hidden.bs.modal", function () {
    document.getElementById('container_confirm_install').style.display = "";
    document.getElementById('container_install').style.display = "none";
  });
</script>
