{% extends "layout.html" %}
{% set active_page = "dependencies" %}
{% set help_page = ["https://aot-inc.github.io/Looperget/Dependencies/", _('Dependencies')] %}

{% block title %} - {{_('Dependencies')}}{% endblock %}

{% block head %}
  {% if install_in_progress == 1 %}
<script>
  let prev_string = '';
  function check_dependency_status() {
    const url = '/admin/dependency_status';
    $.ajax(url, {
      success: function(new_string, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          if (new_string !== prev_string) {
            prev_string = new_string;
            document.getElementById("dependency_status").innerHTML = new_string;
            let objDiv = document.getElementById("dependency_status");
            objDiv.scrollTop = objDiv.scrollHeight;
          }
        }
        else {
          document.getElementById("dependency_status").innerHTML = "Attempting to read the dependency log. Please wait...";
        }
      },
      cache: false
    });
  }
  check_dependency_status();
  setInterval(function() {
      check_dependency_status();
    }, 5000
  );
</script>
  {% endif %}
{% endblock %}

{%- block body %}
  <!-- Route: /dependencies -->
  <div class="container" style="padding-bottom: 1.7em">
    {% include 'flash_messages.html' %}

    <h4>{{_('구성 요소')}} <a href="{{help_page[0]}}" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>
    <p>{{_('Looperget 함수에서 사용하는 여러 소프트웨어 구성 요소가 비활성화될 수 있습니다. 이는 초기 설치 프로세스를 빠르게 하기 위한 조치입니다. 이 페이지에서는 설치된 구성 요소를 확인하고, 현재 충족되지 않은 구성 요소를 설치할 수 있습니다.')}}</p>
    
    {% if device != '0' %}
    <h2>장치: {{device_name}} ({{device}})</h2>
    
    {% if device_unmet_dependencies %}
    
    {% if install_in_progress == 1 %}
    
    <p>다음 구성 요소의 설치가 시작되었습니다:</p>
    <ul>
    {% for each_dep in device_unmet_dependencies %}
      <li>{% if each_dep[2] == 'internal' %}{{each_dep[3]}}{% else %}{{each_dep[0]}}{% endif %}</li>
    {% endfor %}
    </ul>
    <p>아래의 구성 요소 설치 로그는 5초마다 새로고침됩니다. 모든 구성 요소가 설치될 때까지 기다린 후, 관련 장치를 다시 추가하십시오. 설치 과정이 완료되면 로그의 마지막에 "#### 구성 요소 설치 완료" 메시지가 나타납니다.</p>
    <p>설치 과정에 문제가 발생하여 설치 상태를 재설정해야 하는 경우, <code>/opt/Looperget/.dependency</code> 파일을 삭제하면 구성 요소 설치 함수이 복원됩니다.</p>
    
    <pre style="overflow:auto; resize: vertical; height:400px" id="dependency_status"></pre>
    
    {% else %}
    
    <p>다음 장치를 추가하는 동안 충족되지 않은 구성 요소가 발견되었습니다: {{device}}</p>
    <p>설치되지 않은 구성 요소:</p>
    <ul>
    {% for each_dep in device_unmet_dependencies %}
      <li>
        {%- if each_dep[2] == 'internal' -%}
          {{each_dep[3]}}
        {%- else -%}
          {{each_dep[0]}}
        {%- endif -%}
      </li>
    {% endfor %}
    </ul>
    
    {% if dependencies_message %}
    <p>구성 요소 관련 메시지: {{dependencies_message}}</p>
    {% endif %}
    
    <p>이 구성 요소를 설치하려면 아래의 "설치" 버튼을 클릭하고, 설치가 완료될 때까지 기다린 후 장치를 다시 추가하십시오. 설치가 완료된 후, 새로 설치된 모듈을 감지할 수 있도록 프론트엔드와 백엔드 데몬이 자동으로 다시 시작됩니다. 데몬의 재시작을 원하지 않는 경우, 시스템이 이를 수행할 수 있는 시점까지 구성 요소 설치를 연기하십시오.</p>
    
    <form method="post" action="/admin/dependencies/{{device}}">
      {{form_dependencies.csrf_token}}
      {{form_dependencies.device(class_='form-control', value=device)}}
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          {{form_dependencies.install(class_='btn btn-primary')}}
        </div>
      </div>
    </form>
    
    {% endif %}
    
    {% else %}
    <p>이 장치에 필요한 모든 구성 요소가 설치되었습니다.</p>
    {% endif %}
    
    <h4 style="padding: 1em 0 0 0.5em"><a href="/admin/dependencies"><i class="fa fa-arrow-left"></i> 장치 목록으로 돌아가기</a></h4>
    
    {% else %}
    
    {% if unmet_list %}
    <div>
      <h3 style="color: #f78900">일부 구성 요소가 충족되지 않았습니다</h3>
      <p>다음 목록에는 현재 설치되지 않은 구성 요소와 이를 사용하는 장치가 포함되어 있습니다. 특정 함수을 사용하려면 해당 함수에 필요한 구성 요소를 먼저 설치해야 합니다. 장치 이름을 선택하면 해당 장치의 구성 요소 정보와 설치 옵션을 확인할 수 있습니다.</p>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Dependency</th>
          <th>Looperget Feature(s)</th>
        </tr>
      </thead>
      <tbody>

      {% for each_dep, devices in unmet_list.items()|sort(case_sensitive=False) %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>
            {%- if each_dep[2] == 'internal'-%}
              {{each_dep[3]}}
            {%- else -%}
              {{each_dep[0]}}
            {%- endif -%}
          </td>
          <td>
        {% for each_device in devices %}<a href="{{each_device}}">{{each_device}}</a>{% if not loop.last %}, {% endif %}{% endfor %}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    </div>
    {% endif %}

    {% if unmet_exist %}
    <div style="padding-top:1.5em">
      <h4>List of devices with unmet dependencies</h4>
      {% for each_device, dependencies in unmet_dependencies.items()|sort(case_sensitive=False) if dependencies %}
      <div>
        <a href="{{each_device}}">{{each_device}}</a>: {% for each_dep in dependencies %}{% if each_dep[2] == 'internal' %}{{each_dep[3]}}{% else %}{{each_dep[0]}}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}
      </div>
      {% endfor %}
    </div>
    {% else %}
      <h3 style="color: #4E9258">All dependencies are currently installed</h3>
    {% endif %}

    {% if met_exist %}
    <div style="padding-top:1.5em">
      <h4>List of devices that have all dependencies installed</h4>
      {% for each_device in met_dependencies|sort(case_sensitive=False) %}
      <div>
        <a href="{{each_device}}">{{each_device}}</a>
      </div>
      {% endfor %}
    </div>
    {% endif %}

  {% endif %}

  </div>

{% endblock -%}
