{% extends "layout.html" %}
{% set active_page = "upgrade" %}
{% block title %} - Upgrade{% endblock %}

{% block head %}
{% if upgrade == 1 %}
<script>
  let prev_string = '';
  function check_upgrade_status() {
    const url = '/admin/upgrade_status';
    $.ajax(url, {
      success: function(new_string, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          if (new_string !== prev_string) {
            prev_string = new_string;
            document.getElementById("upgrade_status").innerHTML = new_string;
            let objDiv = document.getElementById("upgrade_status");
            objDiv.scrollTop = objDiv.scrollHeight;
          }
        }
        else {
          document.getElementById("upgrade_status").innerHTML = "Looperget 업그레이드 로그를 읽는 중입니다. 잠시만 기다려 주세요...";
        }
      },
      cache: false
    });
  }
  check_upgrade_status();
  setInterval(function() {
      check_upgrade_status();
    }, 5000
  );
</script>
{% endif %}
{% endblock %}

{% block body %}
  <!-- 경로: /admin/upgrade -->
  <div class="container">
    {% include 'flash_messages.html' %}

    {% if not is_internet %}

    <div style="padding: 0.5em 0">
      {{_('인터넷 연결이 감지되지 않았습니다. Looperget을 자동으로 업그레이드하려면 인터넷 연결이 필요합니다. 연결된 후 페이지를 새로고침하세요.')}}
      인터넷 연결 감지 설정은 구성 페이지의 업그레이드 옵션 섹션에서 확인할 수 있습니다.
    </div>

    {% elif upgrade == 1 %}

    <div style="padding: 0.5em 0">
      <p>{{_('Looperget이 현재 업그레이드 중입니다.')}}</p>
      <p>{{_('업그레이드가 진행 중이 아니라면, /opt/Looperget/.upgrade 파일을 삭제하여 업그레이드 프로세스를 다시 시작할 수 있습니다.')}}</p>
      <p>{{_('업그레이드는 일반적으로 몇 분 정도 걸리며, 경우에 따라 더 오래 걸릴 수도 있습니다. 업그레이드가 완료될 때까지 충분한 시간을 두고 기다려 주세요. 성공적으로 완료되면, 왼쪽 상단의 데몬 상태 표시기가 빨간색에서 녹색으로 변경됩니다. 일부 드라이버는 백엔드를 다시 시작해야 활성화됩니다. 오류가 발생하면, 먼저 백엔드를 재시작한 후 GitHub 이슈를 생성해 주세요.')}}</p>
      <p>{{_('아래의 실시간 로그 뷰를 통해 업그레이드 진행 상황을 모니터링할 수 있습니다. 로그를 확인하려면 설정 -> Looperget 로그 -> 업그레이드 로그로 이동하거나, /var/log/looperget/loopergetupgrade.log 파일을 열어보세요. 오류가 발생하면 전체 로그를 점검하여 원인을 파악하는 것이 좋습니다.')}}</p>
    </div>
    <pre style="overflow:auto; resize: vertical; height:400px" id="upgrade_status"></pre>

    {% elif current_latest_major_version != current_release.split('.')[0] and
          current_release in final_releases and
          current_release != current_latest_release and
          current_latest_release != '0.0.0' and
          upgrade != 1 %}

    <p style="padding-top: 0.5em">
      설치된 버전: <a href="https://github.com/aot-inc/Looperget/releases/tag/v{{current_release}}" target="_blank">{{current_release}}</a>
      <br>최신 버전: <a href="https://github.com/aot-inc/Looperget/releases/tag/v{{current_latest_release}}" target="_blank">{{current_latest_release}}</a>
    </p>
    <p>
      <a href="https://github.com/aot-inc/Looperget/blob/master/CHANGELOG.md" target="_blank">변경 로그</a>에서 모든 변경 사항을 확인할 수 있습니다.
      <br>주요 버전 변경 사항: <a href="https://github.com/aot-inc/Looperget/releases/tag/v{{current_latest_major_version}}.0.0" target="_blank">{{current_latest_major_version}}.0.0</a>
    </p>
    <p style="font-weight: bold; color: red">주요 버전 변경이 감지되었습니다!</p>
    <p>GitHub에 새로운 주요 버전이 출시되었습니다: v{{current_latest_major_version}}.x.x (현재 최신 버전 v{{current_latest_release}}). 이 업데이트에는 일부 사용자에게 시스템 변경이 발생할 수 있으며, 업그레이드할 경우 기존 시스템 설정이 유지되지 않을 수도 있습니다. 업그레이드 전에 <a href="/export">설정 데이터베이스 내보내기</a>를 수행하거나, 중요한 정보를 기록해 두는 것이 좋습니다(GPIO 핀, PID 설정 등).</p>

    <div class="form-inline" style="padding-bottom: 1em">
      <form method="post" action="/admin/upgrade">
        <input type="hidden" name="form-name" value="upgrade">
        {{form_upgrade.csrf_token}}
        <div>
          <div class="form-group">
            {{form_upgrade.upgrade_next_major_version(class_='btn btn-primary', **{'onclick':'return confirm("업그레이드를 진행하면 설정 데이터베이스가 유지되지 않을 수도 있습니다. 계속하시겠습니까?")'})}}
          </div>
        </div>
      </form>
    </div>

    {% elif upgrade == 2 %}

    <div style="padding: 0.5em 0">
      <p>{{_('업그레이드 중 오류가 발생했습니다.')}}</p>
      <p>{{_('업그레이드 로그를 확인하세요: /var/log/looperget/loopergetupgrade.log.')}}</p>
      <p>{{_('/opt/Looperget/.upgrade 파일을 삭제하면 이 메시지를 확인한 것으로 간주되며, 업그레이드 기능이 복원됩니다.')}}</p>
    </div>

    {% elif not upgrade_available %}

    <div style="padding: 0.5em 0">
      {{_('업그레이드할 수 있는 새로운 버전이 없습니다. 현재 최신 버전을 사용 중입니다:')}} 
      <a href="https://github.com/aot-inc/Looperget/releases/tag/v{{current_release}}" target="_blank">{{ current_release }}</a>
    </div>

    {% elif force_upgrade_master %}

    <div style="padding: 1em 0 1.5em 0">
      <p>수동 업그레이드 모드</p>
      <p>/opt/Looperget/config.py에서 FORCE_UPGRADE_MASTER가 True로 설정되었습니다.</p>
      <p>아래 업그레이드 버튼을 누르면 <a href="https://github.com/aot-inc/Looperget/archive/master.tar.gz">master.tar.gz</a> 아카이브를 통해 <a href="https://github.com/aot-inc/Looperget/tree/master">Looperget 마스터 브랜치</a>에서 업그레이드가 수행됩니다.</p>
      <p>최신 릴리즈 버전으로 업그레이드하려면 /opt/Looperget/looperget/config.py에서 <code>FORCE_UPGRADE_MASTER = False</code>로 설정한 후, <code>sudo service loopergetflask restart</code> 명령어로 웹 UI를 재시작하고 이 페이지를 새로고침하세요.</p>
    </div>
    <div class="form-inline" style="padding-bottom: 1em">
      <form method="post" action="/admin/upgrade">
        <input type="hidden" name="form-name" value="upgrade">
        {{form_upgrade.csrf_token}}
        <div>
          <div class="form-group">
            {{form_upgrade.upgrade(class_='btn btn-primary')}}
          </div>
        </div>
      </form>
    </div>

    {% elif not upgrade_available %}

    <div style="padding: 0.5em 0">
      {{_('업그레이드할 수 있는 새로운 버전이 없습니다. 현재 최신 버전을 사용 중입니다:')}} 
      <a href="https://github.com/aot-inc/Looperget/releases/tag/v{{current_release}}" target="_blank">{{ current_release }}</a>
    </div>

    {% elif upgrade_available %}

    <div style="padding: 0.5em 0">
      설치된 버전: <a href="https://github.com/aot-inc/Looperget/releases/tag/v{{current_release}}" target="_blank">{{current_release}}</a>
      <br>최신 버전: <a href="https://github.com/aot-inc/Looperget/releases/tag/v{{current_major_release}}" target="_blank">{{current_major_release}}</a>
    </div>
    <div style="padding: 0.5em 0">
      현재 버전보다 {{releases_behind}}개 릴리즈가 뒤처져 있습니다.
      <br>모든 변경 사항은 <a href="https://github.com/aot-inc/Looperget/blob/master/CHANGELOG.md" target="_blank">변경 로그</a>에서 확인할 수 있습니다.
    </div>
    <div style="padding: 1em 0 1.5em 0">
      {{_('아래 버튼을 클릭하여 업그레이드를 시작하세요. 업그레이드는 일반적으로 몇 분 정도 걸리지만, 드물게 몇 시간까지 소요될 수 있습니다. 이 기간 동안 Looperget 웹 인터페이스 및 서버 센서 데이터 기록, 출력 조작 등의 기능이 완전히 중단됩니다.')}}
    </div>
    <div class="form-inline" style="padding-bottom: 1em">
      <form method="post" action="/admin/upgrade">
        <input type="hidden" name="form-name" value="upgrade">
        {{form_upgrade.csrf_token}}
        <div>
          <div class="form-group">
            {{form_upgrade.upgrade(class_='btn btn-primary')}}
          </div>
        </div>
      </form>
    </div>

    {% if releases_behind is not none and releases_behind > 1 %}

    <div style="font-family: 'Courier New', monospace;">
      <table class="table" style="width: auto">
        <tr>
          <th>{{_('현재 버전부터 최신 버전까지')}}</th>
        </tr>
        {% for each_release in current_releases %}
          <tr>
            <td>
              <a href="https://github.com/aot-inc/Looperget/releases/tag/v{{ each_release }}" target="_blank" {% if current_release == each_release %}style="color: red"{% endif %}>v{{ each_release }}</a>
            </td>
            <td>
              {% if each_release == current_release %}{{_('현재 버전')}}{% elif each_release == current_major_release %}{{_('최신 버전')}}{% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

      {% endif %}

    {% endif %}
  </div>

{% endblock %}
