<div id="mod_function_{{each_function.unique_id}}">
  <form id="mod_function_form" method="post" action="/function">
    {{form_conditional.csrf_token}}
    {{form_conditional.function_id(value=each_function.unique_id)}}
    {{form_conditional.function_type(value='conditional')}}

    <div class="row small-gutters" style="padding: 0.3em 0.2em 0.3em 0.3em;">
      <div class="col-auto">
        <button type="button" class="form-control btn btn-primary btn-block" data-dismiss="modal">{{_('닫기')}}</button>
      </div>
      <div class="col-auto">
        <input onclick="return $(this).processRequest(this, 'function_mod');" name="function_mod" value="{{_('저장')}}" class="form-control btn btn-primary btn-block" type="button"/>
      </div>
      <div class="col-auto">
        <input onclick="return confirm('{{_('정말 삭제하시겠습니까?')}}') && $(this).processRequest(this, 'function_delete');" name="function_delete" value="{{_('삭제')}}" class="form-control btn btn-primary btn-block" type="button"/>
      </div>
      <div class="col-auto">
        <input onclick="return $(this).processRequest(this, 'execute_all_actions');" name="execute_all_actions" value="{{_('모든 동작 실행')}}" class="form-control btn btn-primary btn-block" type="button"/>
      </div>
      <div class="col-auto my-auto">
        <h5>{{_('도움말')}} <a href="https://aot-inc.github.io/Looperget/Functions/#conditional" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h5>
      </div>
    </div>

    <div class="row small-gutters" style="padding: 0.3em 0.2em 0.3em 0.3em">
      <div class="col-12" style="padding-top: 0.3em">
        조건부 함수는 Python 3 코드를 실행할 수 있을 뿐만 아니라, 코드 내에서 조건과 동작을 사용하여 Looperget과 상호작용할 수 있습니다. 조건은 보통 입력 측정값 등 Looperget의 데이터를 획득하며, 동작은 출력 작동이나 PID 컨트롤러 일시 정지와 같이 Looperget에 영향을 미칩니다. 추가하는 각 조건과 동작은 사용법을 보여주는 설명과 예제 코드를 포함합니다. 자세한 내용은 <a href="https://aot-inc.github.io/Looperget/Functions/#conditional">조건부 함수 문서</a>를 참조하십시오.
      </div>
    </div>

    <div id="status_activated_enable_{{each_function.unique_id}}" class="row small-gutters align-items-end" style="{% if not each_function.is_activated %}display: none; {% endif %}padding: 0.5em 0.2em 0.5em 0.3em">
      <div class="col-12">
        <h5>{{_('상태')}}</h5>
      </div>
      <div class="col-12">
        <span id="function_status_activated_{{each_function.unique_id}}"></span>
      </div>
    </div>

    <div id="return_text_{{each_function.unique_id}}" class="col-12"></div>

    <div class="row small-gutters" style="padding: 0.3em 0.2em 0.3em 0.3em">
      <div class="col-12">
        {{form_conditional.conditional_import.label(class_='control-label')}}
        <div>
          <textarea style="font-family:monospace;" class="form-control" id="conditional_import" name="conditional_import" rows="4" type="text">{{each_function.conditional_import}}</textarea>
        </div>
      </div>
      <div class="col-12">
        {{form_conditional.conditional_initialize.label(class_='control-label')}}
        <div>
          <textarea style="font-family:monospace;" class="form-control" id="conditional_initialize" name="conditional_initialize" rows="4" type="text">{{each_function.conditional_initialize}}</textarea>
        </div>
      </div>
      <div class="col-12">
        {{form_conditional.conditional_statement.label(class_='control-label')}}
        <div>
          <textarea style="font-family:monospace;" class="form-control" id="conditional_statement" name="conditional_statement" rows="12" type="text">{{each_function.conditional_statement}}</textarea>
        </div>
      </div>
      <div class="col-12">
        {{form_conditional.conditional_status.label(class_='control-label')}}
        <div>
          <textarea style="font-family:monospace;" class="form-control" id="conditional_status" name="conditional_status" rows="8" type="text">{{each_function.conditional_status}}</textarea>
        </div>
      </div>
      <div class="col-auto">
        {{form_conditional.name.label(class_='control-label')}}
        <div>
          {{form_conditional.name(class_='form-control', value=each_function.name, **{'title': dict_translation['name']['phrase']})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_conditional.period.label(class_='control-label')}}
        <div>
          {{form_conditional.period(class_='form-control', value=each_function.period, **{'title':_('파이썬 코드 실행 간의 간격')})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_conditional.start_offset.label(class_='control-label')}}
        <div>
          {{form_conditional.start_offset(class_='form-control', value=each_function.start_offset, **{'title':_('첫 번째 작업 전에 대기하는 시간')})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_conditional.pyro_timeout.label(class_='control-label')}}
        <div>
          {{form_conditional.pyro_timeout(class_='form-control', value=each_function.pyro_timeout, **{'title':_('파이썬 코드 실행의 타임아웃')})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_conditional.log_level_debug.label(class_='control-label')}}
        <div class="input-group-text">
          <input id="log_level_debug" name="log_level_debug" type="checkbox" title="{{dict_translation['log_level_debug']['phrase']}}" value="y"{% if each_function.log_level_debug %} checked{% endif %}>
        </div>
      </div>
      <div class="col-auto">
        {{form_conditional.use_pylint.label(class_='control-label')}}
        <div class="input-group-text">
          <input id="use_pylint" name="use_pylint" type="checkbox" title="{{dict_translation['use_pylint']['phrase']}}" value="y"{% if each_function.use_pylint %} checked{% endif %}>
        </div>
      </div>
      <div class="col-auto">
        {{form_conditional.message_include_code.label(class_='control-label')}}
        <div class="input-group-text">
          <input id="message_include_code" name="message_include_code" type="checkbox" title="{{dict_translation['message_include_code']['phrase']}}" value="y"{% if each_function.message_include_code %} checked{% endif %}>
        </div>
      </div>
    </div>

  </form>

  <div class="row align-items-end small-gutters" style="border-top: 1px solid #ddd; padding-top: 0.5em">
    <h5>{{_('조건')}} <a href="https://aot-inc.github.io/Looperget/Functions/#conditional-options" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h5>
  </div>

  <form method="post" action="/function">
    {{form_conditional.csrf_token}}
    {{form_conditional.function_id(value=each_function.unique_id)}}
    {{form_conditional.function_type(value='conditional')}}

    <div class="row align-items-end small-gutters" style="padding: 0.3em 0.2em 0.3em 0.3em">
      <div class="col-auto">
        <select class="selectpicker" data-style="btn btn-primary" data-live-search="true" title="{{_('조건')}}: {{dict_translation['select_one']['title']}}" id="condition_type_{{each_function.unique_id}}" name="condition_type">
        {% for value, name in conditional_conditions_list %}
          <option value="{{value}}">{{name}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <input onclick="return $(this).processRequest(this, 'add_condition');" name="add_condition" value="{{_('추가')}}" class="form-control btn btn-primary btn-sm btn-block" type="button"/>
      </div>
    </div>
  </form>

  <div id="mod_function_conditions_{{each_function.unique_id}}">
  {% for each_condition in conditional_conditions if each_condition.conditional_id == each_function.unique_id %}
    {% include 'pages/function_options/conditional_condition.html' %}
  {% endfor %}
  </div>

  <div class="row align-items-end small-gutters" style="border-top: 1px solid #ddd; padding-top: 0.5em">
    <h5>{{_('동작')}} <a href="https://aot-inc.github.io/Looperget/Actions" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h5>
  </div>

  <form method="post" action="/function">
    {{form_actions.csrf_token}}
    {{form_actions.device_id(class_='form-control', value=each_function.unique_id)}}
    {{form_actions.function_type(class_='form-control', value='conditional')}}

    <div class="row align-items-end small-gutters" style="padding: 0.3em 0.2em 0.3em 0.3em">
      <div class="col-auto">
        <select class="selectpicker" data-style="btn btn-primary" data-live-search="true" title="{{_('동작')}}: {{dict_translation['select_one']['title']}}" id="action_type_{{each_function.unique_id}}" name="action_type">
        {% for value, name in choices_actions %}
          <option value="{{value}}">{{name}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <input onclick="return $(this).processRequest(this, 'add_action');" name="add_action" value="{{_('추가')}}" class="form-control btn btn-primary btn-sm btn-block" type="button"/>
      </div>
    </div>
  </form>

  {% set post_action = "/function" %}

  <div id="mod_function_actions_{{each_function.unique_id}}">
    <div class="row small-gutters" style="border-bottom: 1px solid #ddd; padding: 0.3em">
      <div class="col-12">
        <strong>사용법</strong>: <strong>self.run_all_actions()</strong>를 호출하면 아래의 모든 동작이 순차적으로 실행됩니다.
      </div>
    </div>
  {% for each_action in action if each_action.function_id == each_function.unique_id %}
    {% include 'pages/actions.html' %}
  {% endfor %}
  </div>

</div>